/* CategoryCard.css */
.card-container {
  @apply w-full flex justify-center sm:justify-start;
}

.service-card {
  @apply flex flex-col gap-3 bg-transparent border-2 border-white rounded-lg
         w-[230px] sm:w-[350px] md:w-[280px]
         min-h-[400px] sm:min-h-[400px]
         transition-all duration-300 cursor-pointer mt-2;
  position: relative;
  overflow: hidden;
}

.card-header {
  @apply flex flex-row justify-between p-3 sm:p-4;
  position: relative;
  z-index: 1;
}

.card-header_logo {
  @apply w-6 sm:w-8;
}

.card-content {
  @apply flex flex-col gap-2 sm:gap-3 px-3 sm:px-4 m-0 flex-grow;
}

.content-title {
  @apply text-base sm:text-lg font-medium text-primary-white;
}

.content-desc {
  @apply text-xs sm:text-sm text-primary-white font-light;
}

.card-footer {
  @apply flex bg-[rgba(217,217,217,0.2)] mt-auto justify-start;
  height: 60px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  z-index: 1;
}

.rotate-on-hover {
  @apply transition-transform duration-300 ease-in-out;
}

.rotate-on-hover:hover {
  @apply transform rotate-45;
}

@media (max-width: 640px) {
  .service-card {
    max-width: 100%;
  }
}