.hero__bg {
  background-image: radial-gradient(
      circle at 50% 50%,
      rgba(220, 220, 220, 0.15) 0%,
      rgba(0, 0, 0, 0) 30%
    ),
    linear-gradient(to bottom, #015a6a, #174758, #1e3544, #1c242e, #141519);
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  border: 1px solid #e8ecee;
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease-in-out;
}

.hero__button-img {
  transition: stroke 0.3s ease-in-out;
  position: relative;
  width: 2rem;
  height: 2rem;
  z-index: 10;
}
