.header {
  position: fixed;
  left: 50px;
  right: 50px;
  top: 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
}

.header__logo {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-top: 0;
}

.header__logo img {
  max-height: 40px;
  width: auto;
}

.header__right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__menu-list {
  @apply flex justify-center items-center bg-[rgba(1,90,106,0.8)] border-2 border-white rounded-xl;
  gap: 2.5rem;
}

.menu-item-container {
  position: relative;
  padding: 0.3rem 1.5rem;
  border-radius: 8px;
  overflow: hidden;
}

.header__menu-item {
  @apply text-secondary-white px-2 py-2;
  position: relative;
  text-decoration: none;
  font-size: 1.125rem;

  transition: opacity 0.3s ease;
  z-index: 1;
  display: block;
}

.hover-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f05e22;
  z-index: -1;
  border-radius: 8px;
}

.header__menu-item.active .hover-background {
  height: 100%;
}

.header__menu {
  width: 480px;
  height: 600px;
  background-color: #e8ecee;
  border-radius: 25px;
  position: absolute;
}

.header.scrolled {
  background-color: black;
}

@media (max-width: 768px) {
  .header__menu-list {
    display: none;
  }
}
